/* Margin classes */
.checkoutKeylinesTop {
  margin-top: 8px;
}

.checkoutKeylines {
  margin-bottom: 16px;
}

.checkoutBtnMargin {
  margin: 16px 0 16px 0;
}

.checkoutCenterText {
  text-align: center;
}

#checkoutMaxWidth {
  max-width: 400px;
}

.checkoutFloatRight {
  float: right;
}

.checkoutRightText {
  text-align: right;
}

/* Horizonial Line, 10% black */
hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

/* Calendar cell classes */
.checkoutWeekDay {
  text-align: center;
}

.checkoutCell {
  text-align: center;
  height: 41px;
}

.checkoutAvailable:hover {
  background-color: rgb(231, 231, 231);
}

.checkoutReserveRange {
  background-color: rgb(102, 226, 218);
}

.checkoutReserveEnd {
  background-color: rgb(0, 132, 137);
}

.checkoutSelection {
  background-color: rgb(178, 241, 236);
}

.checkoutPast, .checkoutReserved {
  text-decoration: line-through;
}

/* CSS Grid layout */
.checkoutContainer {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.checkoutRow {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.checkoutCalRow {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
}

.checkout-12 {
  grid-column: span 12
}

.checkout-9 {
  grid-column: span 9
}

.checkout-8 {
  grid-column: span 8
}

.checkout-6 {
  grid-column: span 6
}

.checkout-3 {
  grid-column: span 3
}

.checkout-2 {
  grid-column: span 2
}

.checkoutCard {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.checkoutCard > hr {
  margin-right: 0;
  margin-left: 0; 
}

/* Undo Bootstrap's gray color for disabled elements with a pseudoclass  */
input[type="text"][readOnly] {
  background-color: #fff;
}
