.checkoutKeylinesTop {
  margin-top: 8px;
}

.checkoutKeylines {
  margin-bottom: 16px;
}

.checkoutBtnMargin {
  margin: 16px;
}

.checkoutCenterText {
  text-align: center;    
}

.checkoutMaxWidth {
  max-width: 400px;
}

.checkoutFloatRight {
  float: right;
}

.checkoutRightText {
  text-align: right;
}

.checkoutWeekDay {
  text-align: center;
  width: 41px;
}

.checkoutCell {
  text-align: center;
  width: 41px;
  height: 41px;
}

.checkoutCell:hover {
  background-color: rgb(231, 231, 231);
}

/* Duplicate properties so past dates can't get highlighted */
.checkoutPast {
  text-decoration: line-through;
  text-align: center;
  width: 41px;
  height: 41px;
}

/* Undo Bootstrap's gray color for disabled elements with a pseudoclass  */
input[type="text"][readOnly] {
  background-color: #fff;
}
