.checkoutKeylinesTop {
  margin-top: 16px;
}

.checkoutKeylines {
  margin-bottom: 16px;
}

.checkoutBtnMargin {
  margin: 16px;
}

.checkoutCenterText {
  text-align: center;    
}

.checkoutMaxWidth {
  max-width: 400px;
}
